body {
    animation-name: yeet;
animation-duration: 30s;
}
@keyframes yeet {
    0%{
        background-color: blue;
    }
    100% {
        background-color: green;
    } 
}

p {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
h1 {
    text-align: center;
}
.yeet {
    list-style: none;
        top: 10px;
        right: 30px;
        float: right;
        color: black;
    cursor: pointer;
        
}
ul:hover {
    color: orange;
}